<template name="components_buyer_dashboard">
    <div class="panel panel-default panel-dapp">
        <div class="panel-heading">
            RFQ Details 
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <td>RFQ Number</td>
                                    <td>PO Number</td>
                                    <td>Invoice Number</td>
                                    <td>Shipment Details</td>
                                </tr>
                            </thead>
                            <tbody>
                            {{#with TemplateVar.get 'state'}}
                            {{#if list}}
                            {{#each getRFQList}}
                            <tr>
                               <td><a href="{{pathFor 'App.rfq.details' rfq=(rfqID)}}" id={{rfqID}} class="namelink">{{rfqID}}</a></td>
                               <td><a href="{{pathFor 'App.po.details' poNumber=(poNumber)}}" id={{poNumber}} class="namelink">PO-{{poNumber}}</a></td>
                                <td><a href="{{pathFor 'App.invoice.details' inv=(invoiceNo)}}" id={{d}} class="namelink">INVOICE-{{invoiceNo}}</a></td>
                                <td><a href="{{pathFor 'App.shipment.details' ship=(shipmentID)}}" id={{shipmentID}} class="namelink">SHIP-{{shipmentID}}</a>                               
                                   
                                </td>
                                <td>{{rfqValue}}</td>
                            </tr>
                            {{/each}}
                            {{/if}}
                            {{/with}}
                           </tbody>
                        </table>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</template>
