<template name="components_buyer_po_details">
    <div class="panel panel-default panel-dapp">
	<div class="panel-heading">
            Purchase Order Details
	</div>
      <div class="panel-body">

	<div class="row">
        <div class="col-md-6">
            <form class="form-horizontal">
            {{#with TemplateVar.get 'poData'}} 
            <div class="form-group">
                <label class="col-sm-4 control-label">PO Number</label>
                <div class="col-xs-1"> {{poNumber}}
                </div>
             </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">RFQ ID</label>
                <div class="col-xs-1"> {{rfqID}}
                </div>
             </div>
       
            <div class="form-group">
                <label  class="col-sm-4 control-label">PO Description</label>
                <div class="col-sm-8"> {{poDescription}}
                </div>
            </div> 

            <div class="form-group">
                <label  class="col-sm-4 control-label">Request Date</label>
                <div class="col-sm-8"> {{RequestDate}}
                </div>
            </div> 

            <div class="form-group">
                    <label  class="col-sm-4 control-label">View PO File</label>
                    <div class="col-sm-8"> <a href =""  id={{poFileURL}} class="poFileLink">{{FileName}}</a>
                    </div>
                </div> 

            {{/with}}
          
	        </form>
        </div>
        <div class="col-md-6">
            <div class=" col-sm-12 table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each getRFQDetails}}
                        <tr>
                            <td class="col-sm-6">{{id}}</td>
                            <td class="col-sm-3" >{{textvalue}}</td>
                            <td class="col-sm-3">{{cost}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                   </table>
            </div>

        </div>
	</div>
    </div>
    </div>
</template>
