<template name="components_rfq_details">
    <div class="panel panel-default panel-dapp">
        <div class="panel-heading">
            RFQ Details
        </div>
        <div class="panel-body">

                {{#with TemplateVar.get 'state'}}
                {{#if isError}}
                    <div class="alert alert-warning">
                        Error updating the quote status. The error was "{{error}}"
                    </div>
                {{/if}}
            
                {{#if isMining}}
                    <div class="alert alert-info">
                        Status update is in progress...
                        <span class="badge text-right">
                            <i class="fa fa-cog fa-spin"></i>
                        </span>
                    </div>
                {{/if}}
            
                {{#if isMined}}
                {{#if statusUpdated}}
                    <div class="alert alert-info">
                        The status has been updated successfully!!
                    </div>
                    <hr />
                    <br />
                
                {{else}}    

                    <div class="alert alert-warning">
                        Error updating the quote status. The error was "{{error}}"
                    </div>
                    <hr />
                    <br />
            	{{/if}}
                   {{/if}} 
            {{/with}} 



 
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal">
                   {{#with TemplateVar.get 'rfqData'}} 
                        <div class="form-group">
                            <label class="col-sm-4 control-label">RFQ Number:</label>
                            <div class="col-sm-6">{{rfqID}}</div>
                        </div>

                        <div class="form-group">
                                <label class="col-sm-4 control-label">Requested Date:</label>
                                <div class="col-sm-6">{{requestDate}}</div>
                        </div>
                        <div class="form-group">
                                <label class="col-sm-4 control-label">Responded By:</label>
                                <div class="col-sm-6">{{responseBy}}</div>
                        </div>
                            
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Responded Date:</label>
                            <div class="col-sm-6">
                                    {{responseDt}}
                            </div>
                        </div>
                        <div class="form-group">
                                <label class="col-sm-4 control-label">RFQ Amount:</label>
                                <div class="col-sm-6">{{rfqValue}}</div>
                        </div>
                            
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Response Detail:</label>
                            <div class="col-sm-6">{{responseDt}}</div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Update Status</label>
                            <div class="col-sm-6">
                            <input type="radio" name="rfqStatus" id="rfqStatus2" value="2"> Accept
                            <input type="radio" name="rfqStatus" id="rfqStatus3" value="3"> Decline
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-5">
                                <button type="button" id="updateRFQStatus" style="position: relative;top: 10px;left: 72%;" class="btn btn-sm bg-all"> Update
                                </button>
                            </div>
                    </div>                        


                        {{/with}} 

                        <div class=" col-sm-6 table-responsive">
                            <table class="table table-bordered">
                                    <thead>
                                         <tr>
                                            <th>Select</th>
                                             <th>Product Details</th>
                                             <th>Quantity</th>
                                             <th>Cost</th>
                                         </tr>
                                     </thead>
                                    <tbody>
                                    <tr>
     
                                        <td class="col-xs-1"><input type="checkbox" value="" id="aashirvaad"></td>
                                        <td class="col-sm-3">Aashirvaad</td>
                                        <td class="col-sm-1"><input type="text" class="form-control" id="aashirvaad_value" value="" disabled/></td>
                                        <td class="col-sm-2"><input type="text" class="form-control" id="aashirvaad_cost" value="" disabled/></td>
                                    </tr>
                                    <tr>
        
                                    <td><input   type="checkbox" value="" id="bingo"  ></td>
                                    <td>Bingo</td>
                                    <td class="col-xs-1"><input type="text" class="form-control" id="bingo_value" value="" disabled/></td>
                                    <td class="col-xs-1"><input type="text" class="form-control" id="bingo_cost" value="" disabled/></td>
                                    </tr>
     
                                    <tr>
                                        <td><input   type="checkbox" value="" id="classmate"  ></td>
                                        <td>Classmate</td>
                                        <td class="col-xs-1"><input type="text" class="form-control" id="classmate_value" value="" disabled/></td>
                                        <td class="col-xs-1"><input type="text" class="form-control" id="classmate_cost" value="" disabled/></td>
                                    </tr>
                                    <tr>
                                    <td><input   type="checkbox" value="" id="bnatural"  ></td>
                                        <td>B Natural</td>
                                        <td class="col-xs-1"><input type="text" class="form-control" id="bnatural_value" value="" disabled/></td>
                                        <td class="col-xs-1"><input type="text" class="form-control" id="bnatural_cost" value="" disabled/></td>
                                    </tr>
                                     </tbody>
     
                                     </table>
                    </div>                        


                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

