<template name="App_body">
	<style>
		.panel-heading{
			font-size: 18px !important;
			font-weight: bold;
		}

.bg-all{
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to#90caf9  ) !important;
	background: -webkit-linear-gradient(#ffffff,#90caf9  ) !important; 	   
}

.logo-item {              
            margin-right:10px;
            margin-left:10px;
            margin-top:10px;   
			margin-bottom: 15px;       
            display: inline-block;
            width: 100%;
        }

        .logo-text{
            font-weight: bold;
            font-size: 18px;
            font-family: Arial, Helvetica, sans-serif;
            float: right; 
			padding-top: 15px;
            padding-right: 15px;
            padding-bottom: 15px;
			vertical-align: center;
        }

		.nav-item
         {
            color: black !important;
            font-weight: bold;
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .nav-item:hover
         {
            color:maroon !important;
            /* color: #205a87 !important;*/
        }

		.btn{
			text-transform: none !important;
			font-weight: bold;
            font-size: 14px;
		}
		.control-text{
			font-weight: normal !important;
		}

		th{
			font-size: 14px !important;
		}
		</style>

	{{ >Template.dynamic template=top}}
<main class="container-fluid">

	{{ >Template.dynamic template=main}}
</main>
	{{ >Template.dynamic template=footer}}
  
</template>

