<template name="components_seller_dashboard">
    <div class="panel panel-default panel-dapp">
        <div class="panel-heading">
            RFQ Details
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <td>RFQ Number</td>
                                    <td>RFQ Status</td>
                                    <td>PO Number</td>
                                    <td>Invoice Number</td>
                                    <td>Shipping Status</td>
                                    <td>Track Shipping</td>
                                </tr>
                            </thead>
                            <tbody>
                            {{#with TemplateVar.get 'state'}}
                            {{#if list}}
                            {{#each getRFQList}}
                            <tr>
                               <td><a href="{{pathFor 'App.rfq.details' rfq=(rfqID)}}" id={{rfqID}} class="namelink">RFQ{{rfqID}}</a></td>
                               <td>{{status}}</td>
                              
                               {{#if poNumber}}
                               <td><a href="{{pathFor 'App.po.details' poNumber=(poNumber)}}" id={{poNumber}} class="namelink">PO-{{poNumber}}</a></td>
                                {{else}}
                                    <td></td>
                                {{/if}}
                               
                               
                               {{#if invoiceNo}}
                                    <td><a href="{{pathFor 'App.invoice.details' inv=(invoiceNo)}}" id={{invoiceNo}} class="namelink">ITC{{invoiceNo}}</a></td>
                                {{else}}
                                    <td></td>
                                {{/if}}

                                {{#if shipmentID}}
                                    <td>{{shipmentStatus}}</td>
                                    <td><a href="{{pathFor 'App.shipping.details' ship=(shipmentID)}}" id={{shipmentID}} class="namelink">FedEx{{shipmentID}}</a></td>
                                    {{else}}
                                    <td></td>
                                    <td></td>
                                {{/if}}
                                    
                            </tr>
                            {{/each}}
                            {{/if}}
                            {{/with}}
                           </tbody>
                        </table>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</template>
