<template name="components_shipping_details">
    <div class="panel panel-default panel-dapp">
        <div class="panel-heading">
            Shipment Information
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <td>PO Number</td>
                                    <td>PO Receipt</td>
                                    <td>Invoice Number</td>
                                    <td>Invoice Date</td>
                                    <td>Invoice File</td>
                                </tr>
                            </thead>
                            <tbody>
                            {{#with TemplateVar.get 'state'}}
                            {{#if list}}
                            {{#each getInvoiceList}}
                            <tr>
                                <td>{{purchaseNo}}</td>
                                <td>{{purchaseFile}}</td>
                                <td>{{invoiceNo}}</td>
                                <td>{{invoiceDate}}</td>
                                <td>{{invoiceFile}}</td>
                            </tr>
                            {{/each}}
                            {{/if}}
                            {{/with}}
                           </tbody>
                        </table>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</template>

