    <template name="components_client_wo_dashboard">
    <div class="panel panel-default panel-dapp">
        <div class="panel-heading">
            Work Order Dashboard
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                           <!--         <td>RFQ ID</td> -->
                          <!--          <td>Contract Number</td> -->
                                    <td>RFQ Name</td>
                                    <td>WO Number</td>
                                    <td>WO Status</td>
                                    <td>PO Number</td>
                                    <td>BillitNow Invoice</td>
                                <!--      <td>Invoice Date</td> -->
                                    <td>BillitNow Invoice File</td>
                                </tr>
                            </thead>
                            <tbody>
                            {{#with TemplateVar.get 'state'}}
                            {{#if list}}
                            {{#each getClientWO}}
                            <tr>
                             <!--  <td><a href ="" id={{rfq_ref_id}} class="wolink">{{rfq_ref_id}}</a></td>-->
                          <!--     <td>{{rfq_ref_id}}</td> -->
                       <!--         <td>{{contract_id}}</td> -->
                                    <td>
                                        <a href =""  id={{contractURL}} class="confilelink">
                                                {{contract_fileName}}
                                        </a>
                                    </td>
                                    <td>{{wo_number}}</td>
                                    <td>{{wo_status}}</td>
                                    <td>{{po_number}}</td>
                                    <td>{{invoice_Number}}</td>
                                  <!--   <td>{{invoice_Date}}</td>  -->
                                    <td>
                                            <a href =""  id={{invoiceURL}} class="invfilelink">
                                                    {{invoice_fileName}}
                                            </a>
                                        </td>
                                </tr>
                            {{/each}}
                            {{/if}}
                            {{/with}}
                           </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
