<template name="components_client_rfq_update">
    <div class="panel panel-default panel-dapp">
        <div class="panel-heading">
            MSS - Accept / Decline Quote
        </div>
        <div class="panel-body">
             {{#with TemplateVar.get 'state'}}
                {{#if isError}}
                    <div class="alert alert-warning">
                        Error updating the quote. The error was "{{error}}"
                    </div>
                {{/if}}
            
                {{#if isMining}}
                    <div class="alert alert-info">
                        Request for Quote update is in progress....
                        <span class="badge text-right">
                            <i class="fa fa-cog fa-spin"></i>
                        </span>
                    </div>
                {{/if}}
            
                {{#if isMined}}
                    <div class="alert alert-info">
                        {{rfqName}} has been successfully updated!!
                    </div>
                    <hr />
                    <br />
            	{{/if}}

            {{/with}} 

            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal">
                    {{#with TemplateVar.get 'rfqData'}}
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Name:</label>
                            <div class="col-sm-6">{{rfqName}}</div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Description:</label>
                            <div class="col-sm-8">
                                {{rfqDescription}}
                            </div>
                        </div>
                        <div class="form-group">
                                <label class="col-sm-4 control-label">Status:</label>
                                <div class="col-sm-6">{{rfqStatus}}</div>
                        </div>
                        <div class="form-group">
                                <label class="col-sm-4 control-label">Requested By:</label>
                                <div class="col-sm-6">{{requestBy}}</div>
                        </div>
                            
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Requested Date:</label>
                            <div class="col-sm-6">
                                    {{requestDt}}
                            </div>
                        </div>
                        <div class="form-group">
                                <label class="col-sm-4 control-label">Responded By:</label>
                                <div class="col-sm-6">{{responseBy}}</div>
                        </div>
                            
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Responded Date:</label>
                            <div class="col-sm-6">{{responseDt}}</div>
                        </div>

                        <div class="form-group">
                                <label class="col-sm-4 control-label">RFQ Amount:</label>
                                <div class="col-sm-6">{{rfqValue}}</div>
                        </div>

                        <div class="form-group">
                                <label class="col-sm-4 control-label">Update Status</label>
                                <div class="col-sm-6">
                                <input type="radio" name="rfqStatus" id="rfqStatus2" value="2"> Accept
                                <input type="radio" name="rfqStatus" id="rfqStatus3" value="3"> Decline
                                </div>
                        </div>
                        {{/with}}
                        
                        <div class=" col-sm-12 table-responsive">
                                <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                 <th></th>
                                                <th>Service Description</th>
                                                <th>No of Vehicles</th>
                                                <th>Fee Details </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
        
                                    <td><input   type="checkbox" value="" id="pilot1" disabled ></td>
                                    <td>PILOT OF ON-BOARD MONITORING CAMERA WITH TELEMATICS</td>
                                    <td ><input type="text" class="form-control" id="NoVpilot1" value="" disabled/></td>
                                    <td></td>
        
                                        </tr>
                                        <tr>
        
                                    <td><input   type="checkbox" value="" id="pilot2" disabled ></td>
                                    <td>PILOT OF DATA COLLECTION DEVICE FOR TRAINING</td>
                                    <td ><input type="text" class="form-control" id="NoVpilot2" value="" disabled/></td>
                                    <td></td>
                                    </tr>
        
                                <tr>
                                <td><input   type="checkbox" value="" id="pilot3" disabled ></td>
                                    <td>PILOT OF ON BOARD DIAGNOSTICS (OBD2) PLUGIN</td>
                                    <td class="col-3"><input type="text" class="form-control" id="NoVpilot3" value="" disabled/></td>
                                    <td >
                                        <div style="padding: 20px;">
                                            <div class="form-group">
                                                    <label class="control-label control-text" for="pilot3Fee1">Analysis & Reporting Fee</label>
                                                    <input type="text" class="form-control input-css" id="pilot3Fee1" disabled />
                                            </div>  
                                            <div class="form-group">
                                                    <label class="control-label control-text" for="pilot3Fee2">OBD Device Fee</label>
                                                    <input type="text" class="form-control input-css" id="pilot3Fee2" disabled />
                                            </div> 
                                            <div class="form-group">
                                                    <label class="control-label control-text" for="pilot3Fee3">OBS Data Transmission Fee</label>
                                                    <input type="text" class="form-control input-css" id="pilot3Fee3" disabled />
                                            </div> 
                                            <div class="form-group">
                                                    <label class="control-label control-text" for="pilot3Fee4">Initital Setup Fee</label>
                                                    <input type="text" class="form-control input-css" id="pilot3Fee4" disabled />
                                            </div>  
                                        </div>                              
                                    </td>
                                </tr>
        
        
                                <tr>
                                <td><input   type="checkbox" value="" id="OBMCT" disabled ></td>
                                    <td>ON-BOARD MONITORING CAMERA WITH TELEMATICS</td>
                                    <td class="col-3"><input type="text" class="form-control" id="NoVOBMCT" value="" disabled/></td>
                                    <td >
                                        <div style="padding: 20px;">
                                            <div class="form-group">
                                                    <label class="control-label control-text" for="OBMCTFee1">Company Device Fee</label>
                                                    <input type="text" class="form-control input-css" id="OBMCTFee1" disabled />
                                            </div>  
                                            <div class="form-group">
                                                    <label class="control-label control-text" for="OBMCTFee2">Telematics Data Capture Fee</label>
                                                    <input type="text" class="form-control input-css" id="OBMCTFee2" disabled />
                                            </div> 
                                            <div class="form-group">
                                                    <label class="control-label control-text" for="OBMCTFee3">Analysis & Reporting Fee</label>
                                                    <input type="text" class="form-control input-css" id="OBMCTFee3" disabled />
                                            </div> 
                                        </div>                              
                                    </td>
                                </tr>
        
        
                            <tr>
                                <td><input   type="checkbox" value="" id="OBMCWT" disabled ></td>
                                    <td>ON-BOARD MONITORING CAMERAS WITHOUT TELEMATICS</td>
                                    <td class="col-3"><input type="text" class="form-control" id="NoVOBMCWT" value="" disabled/></td>
                                    <td >
                                        <div style="padding: 20px;">
        
                                            <div class="form-group">
                                                    <label class="control-label control-text" for="OBMCWTFee1">Company Device Fee</label>
                                                    <input type="text" class="form-control input-css" id="OBMCWTFee1" disabled />
                                            </div> 
                                        </div>                              
                                    </td>
                                </tr>
        
        
                            <tr>
                                <td><input   type="checkbox" value="" id="MobileEyeShield" disabled ></td>
                                    <td>MOBILEYE SHIELD + ™</td>
                                    <td class="col-3"><input type="text" class="form-control" id="NoVMobileEyeShield" value="" disabled/></td>
                                    <td >
                                        <div style="padding: 20px;">
        
                                            <div class="form-group">
                                                    <label class="control-label control-text" for="MobileEyeShieldFee1">Mobile Eye Fee</label>
                                                    <input type="text" class="form-control input-css" id="MobileEyeShieldFee1" disabled />
                                            </div> 
                                        </div>                              
                                    </td>
                                </tr>
        
        
                            <tr>
                                <td><input   type="checkbox" value="" id="MobileApp" disabled ></td>
                                    <td>MOBILE APP</td>
                                    <td class="col-3"><input type="text" class="form-control" id="NoVMobileApp" value="" disabled/></td>
                                    <td >
                                        <div style="padding: 20px;">
        
                                            <div class="form-group">
                                                    <label class="control-label control-text" for="MobileAppFee1">Standard Fee</label>
                                                    <input type="text" class="form-control input-css" id="MobileAppFee1" disabled />
                                            </div> 
        
                                            <div class="form-group">
                                                    <label class="control-label control-text" for="MobileAppFee2">Initial Setup Fee</label>
                                                    <input type="text" class="form-control input-css" id="MobileAppFee2" disabled />
                                            </div> 
        
                                        </div>                              
                                    </td>
                                </tr>
        
        
        
                            <tr>
                                <td><input   type="checkbox" value="" id="MAWB" disabled ></td>
                                    <td>MOBILE APP WITH BEACON</td>
                                    <td class="col-3"><input type="text" class="form-control" id="NoVMAWB" value="" disabled/></td>
                                    <td >
                                        <div style="padding: 20px;">
        
                                            <div class="form-group">
                                                    <label class="control-label control-text" for="MAWBFee1">Standard Fee</label>
                                                    <input type="text" class="form-control input-css" id="MAWBFee1" disabled />
                                            </div> 
        
                                            <div class="form-group">
                                                    <label class="control-label control-text" for="MAWBFee2">BEACON Fee</label>
                                                    <input type="text" class="form-control input-css" id="MAWBFee2" disabled />
                                            </div> 
        
                                            <div class="form-group">
                                                    <label class="control-label control-text" for="MAWBFee3">Initial Setup Fee</label>
                                                    <input type="text" class="form-control input-css" id="MAWBFee3" disabled />
                                            </div> 
        
        
                                        </div>                              
                                    </td>
                                </tr>
        
        
                       <tr>
                                <td><input   type="checkbox" value="" id="OBD2P" disabled ></td>
                                    <td>ON BOARD DIAGNOSTICS (OBD2) PLUGIN</td>
                                    <td class="col-3"><input type="text" class="form-control" id="NoVOBD2P" value="" disabled/></td>
                                    <td >
                                        <div style="padding: 20px;">
        
                                            <div class="form-group">
                                                    <label class="control-label control-text" for="OBD2PFee1">Standard Fee</label>
                                                    <input type="text" class="form-control input-css" id="OBD2PFee1" disabled />
                                            </div> 
        
                                            <div class="form-group">
                                                    <label class="control-label control-text" for="OBD2PFee2">OBD Device Fee</label>
                                                    <input type="text" class="form-control input-css" id="OBD2PFee2" disabled />
                                            </div> 
        
                                            <div class="form-group">
                                                    <label class="control-label control-text" for="OBD2PFee3">OBS Data Transmission Fee </label>
                                                    <input type="text" class="form-control input-css" id="OBD2PFee3" disabled />
                                            </div> 
        
                                            <div class="form-group">
                                                    <label class="control-label control-text" for="OBD2PFee4">Initital Setup Fee </label>
                                                    <input type="text" class="form-control input-css" id="OBD2PFee4" disabled />
                                            </div> 
        
                                        </div>                              
                                    </td>
                                </tr>
        
        
                                        </tbody>
                                    </table>
                        </div>
                        {{#with TemplateVar.get 'readonly'}}
                        {{#if show}}
                        <div class="form-group">
                                <div class="col-sm-5">
                                    <button type="button" id="updateRFQStatus" style="position: relative;top: 10px;left: 72%;" class="btn btn-sm bg-all"> Update
                                    </button>
                                </div>
                        </div>
                        {{/if}}
                        {{/with}}
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

