<template name="components_admin_changepassword">
    <div class="panel panel-default panel-dapp">
        <div class="panel-heading">
            Change Password
        </div>
        <div class="panel-body">
             {{#with TemplateVar.get 'state'}}
                {{#if isError}}
                    <div class="alert alert-warning">
                        Error updating the password. Please try again.
                    </div>
                {{/if}}
            
                {{#if isMining}}
                    <div class="alert alert-info">
                       Password change in progress....
                        <span class="badge text-right">
                            <i class="fa fa-cog fa-spin"></i>
                        </span>
                    </div>
                {{/if}}
            
                {{#if isMined}}
                    <div class="alert alert-info">
                        Password has been changed successfully...
                    </div>
                    <hr />
                    <br />
            	{{/if}}

            {{/with}} 

            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal">

                        <div class="form-group">
                            <label for="userName" class="col-sm-4 control-label">User Name</label>
                            <div class="col-sm-6">
                                <input type="text" id="userName" class="form-control" value="" placeholder="User Name" />
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="oldPassword" class="col-sm-4 control-label">Old Password</label>
                            <div class="col-sm-6">
                                <input type="password" id="oldPassword" class="form-control" value="" placeholder="Old Password" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="newPassword" class="col-sm-4 control-label">New Password</label>
                            <div class="col-sm-6">
                                <input type="password" id="newPassword" class="form-control" value="" placeholder="New Password" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="confirmPassword" class="col-sm-4 control-label">Confirm New Password</label>
                            <div class="col-sm-6">
                                <input type="password" id="confirmPassword" class="form-control" value="" placeholder="Confirm New Password" />
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-sm-5">
                                <button type="button" id="changePasswordbtn" style="position: relative;top: 10px;left: 72%;" class="btn btn-sm bg-all"> Change Password
                                </button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</template>
