<template name="components_client_wo">
    <div class="panel panel-default panel-dapp">
	<div class="panel-heading">
            Initiate Work Order
	</div>
      <div class="panel-body">
            {{#with TemplateVar.get 'state'}}
                {{#if isError}}
                    <div class="alert alert-warning">
                        Contract upload failed.
                    </div>
                {{/if}}
               
                
                {{#if isMining}}
                    <div class="alert alert-info">
                      Work Order Initiation in progress...
                        <span class="badge text-right">
                            <i class="fa fa-cog fa-spin"></i>
                        </span>
                    </div>
                {{/if}}
            
                {{#if isMined}}
                    <div class="alert alert-info">
                        Work Order Initiated.
                    </div>
      
                {{/if}}

            {{/with}} 

	<div class="row">
        <div class="col-md-12">
            <form class="form-horizontal">

  <!--      <div class="form-group">
            <label for="client_rfq_id" class="col-sm-4 control-label">RFQ ID</label>
            <div class="col-sm-4">
                    <input type="text" id="client_rfq_id" class="form-control" value="" />
            </div>
        </div> -->

        <div class="form-group">
            <label for="client_rfq_id" class="col-sm-4 control-label">Original RFQ Name</label>
            <div class="col-sm-4">
                <select class="form-control" id="client_rfq_id"> 
                {{#each getRFQs}}
                    <option value={{id}}>{{name}}</option>
                    {{/each}}
                </select>
            </div>
         </div>

                <div class="form-group">
            <label for="uploadfile" class="col-sm-4 control-label">Upload Signed RFQ</label>
            <div class="col-sm-4">
                <input type="file" id="uploadfile"  class="control-label" />
            </div>
        </div> 

        <div class="form-group">
            <label for="sign_date" class="col-sm-4 control-label">Contract Sign Date</label>
            <div class="col-sm-4">
                <input type="date" id="sign_date" class="form-control" value="" />
            </div>
        </div> 

        <div class="form-group">
            <label for="po_number" class="col-sm-4 control-label">PO Number</label>
            <div class="col-sm-4">
                <input type="text" id="po_number" class="form-control" value=""  /> 
            </div>
        </div> 

		<div class="form-group">
			<div class="col-sm-5">
    				<button type="button" id="btnSubmitContract" style="position: relative;top: 10px;left: 72%;" class="btn btn-sm bg-all">Submit
			</button>
    			</div>
			
    		</div>
	</form>
	</div>
	</div>
    </div>
    </div>
</template>
