<template name="components_client_rfq">
    <div class="panel panel-default panel-dapp">
        <div class="panel-heading">
            MSS - Request For Quote
        </div>
        <div class="panel-body">
             {{#with TemplateVar.get 'state'}}
                {{#if isError}}
                    <div class="alert alert-warning">
                        Error requesting for quote.The error was: "{{error}}".
                    </div>
                {{/if}}
            
                {{#if isMining}}
                    <div class="alert alert-info">
                        Request for Quote is being processed...
                        <span class="badge text-right">
                            <i class="fa fa-cog fa-spin"></i>
                        </span>
                    </div>
                {{/if}}
            
                {{#if isMined}}
                    <div class="alert alert-info">
                        {{rfqName}} has been successfully requested!!
                    </div>
                    <hr />
                    <br />
            	{{/if}}

            {{/with}} 

            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal">

                        <div class="form-group">
                            <label for="rfqName" class="col-sm-4 control-label">Name</label>
                            <div class="col-sm-6">
                                <input type="text" id="rfqName" class="form-control" value="" placeholder="RFQ Name" />
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="rfqDescription" class="col-sm-4 control-label">Description</label>
                            <div class="col-sm-8">
                                <input type="text" id="rfqDescription" class="form-control" value="" placeholder="Description" />
                            </div>
                        </div>

                        <div class="form-group">
                                <label for="uploadReqfile" class="col-sm-4 control-label">Upload Vehicle Details File</label>
                                <div class="col-sm-8">
                                    <input type="file" id="uploadReqfile" class="control-label" accept=".xls,.xlsx,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel" /> 
                                </div>
                        </div> 

                       

                    </form>

            <!--        {{#with TemplateVar.get 'showInfo'}}
                    {{#if show}}
                    
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td>Device</td>
                                    <td>Description</td>
                                    <td>VIN</td>
                                    <td>Make</td>
                                    <td>Model</td>
                                    <td>Year</td>
                                    <td>Insurer Name</td>
                                    <td>State</td>
                                    <td>City</td>
                                    <td>Zip</td>
                                </tr>
                            </thead>
                            <tbody>
                            {{#each getSheetInfo}}
                           
                            <tr>
                                    <td>{{Device_Type}}</td>
                                    <td>{{Other_description}}</td>
                                    <td>{{VIN_Number}}</td>
                                    <td>{{Vehicle_Make}}</td>
                                    <td>{{Vehicle_Model}}</td>
                                    <td>{{Vehicle_Year}}</td>
                                    <td>{{Insured_Company_Name}}</td>
                                    <td>{{State}}</td>
                                    <td>{{CITY}}</td>
                                    <td>{{ZIP}}</td>
                            </tr>
                            {{/each}}
                           </tbody>
                        </table>
                    </div>
                    {{/if}}
                    {{/with}}-->
                    
                    <div class=" col-sm-9 table-responsive">
                            <table class="table table-bordered">
                                    <thead>
                                         <tr>
              <th></th>
                                             <th>Service Description</th>
                                             <th>No of Vehicles</th>
                                         </tr>
                                     </thead>
      <tbody>
                                     <tr>
     
                                 <td><input   type="checkbox" value="" id="pilot1"  ></td>
                                 <td>PILOT OF ON-BOARD MONITORING CAMERA WITH TELEMATICS</td>
                                 <td ><input type="text" class="form-control" id="NoVpilot1" value="" disabled/></td>
     
                                     </tr>
                                     <tr>
     
                                 <td><input   type="checkbox" value="" id="pilot2"  ></td>
                                 <td>PILOT OF DATA COLLECTION DEVICE FOR TRAINING</td>
                                 <td ><input type="text" class="form-control" id="NoVpilot2" value="" disabled/></td>
                                 </tr>
     
                             <tr>
                             <td><input   type="checkbox" value="" id="pilot3"  ></td>
                                 <td>PILOT OF ON BOARD DIAGNOSTICS (OBD2) PLUGIN</td>
                                 <td class="col-3"><input type="text" class="form-control" id="NoVpilot3" value="" disabled/></td>
                             </tr>
     
     
                             <tr>
                             <td><input   type="checkbox" value="" id="OBMCT"  ></td>
                                 <td>ON-BOARD MONITORING CAMERA WITH TELEMATICS</td>
                                 <td class="col-3"><input type="text" class="form-control" id="NoVOBMCT" value="" disabled/></td>
                             </tr>
     
     
                         <tr>
                             <td><input   type="checkbox" value="" id="OBMCWT"  ></td>
                                 <td>ON-BOARD MONITORING CAMERAS WITHOUT TELEMATICS</td>
                                 <td class="col-3"><input type="text" class="form-control" id="NoVOBMCWT" value="" disabled/></td>
                             </tr>
     
     
                         <tr>
                             <td><input   type="checkbox" value="" id="MobileEyeShield"  ></td>
                                 <td>MOBILEYE SHIELD + ™</td>
                                 <td class="col-3"><input type="text" class="form-control" id="NoVMobileEyeShield" value="" disabled/></td>
                             </tr>
     
     
                         <tr>
                             <td><input   type="checkbox" value="" id="MobileApp"  ></td>
                                 <td>MOBILE APP</td>
                                 <td class="col-3"><input type="text" class="form-control" id="NoVMobileApp" value="" disabled/></td>
                             </tr>
     
     
     
                         <tr>
                             <td><input   type="checkbox" value="" id="MAWB"  ></td>
                                 <td>MOBILE APP WITH BEACON</td>
                                 <td class="col-3"><input type="text" class="form-control" id="NoVMAWB" value="" disabled/></td>
                             </tr>
     
     
                    <tr>
                             <td><input   type="checkbox" value="" id="OBD2P"  ></td>
                                 <td>ON BOARD DIAGNOSTICS (OBD2) PLUGIN</td>
                                 <td class="col-3"><input type="text" class="form-control" id="NoVOBD2P" value="" disabled/></td>
                             </tr>
     
     
                                     </tbody>
     
                                     </table>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-5">
                            <button type="button" id="submitRequestRFQ" style="position: relative;top: 10px;left: 72%;" class="btn btn-sm bg-all"> Request For Quote
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>
